@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto';
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 194, 173);
    gap: 20px;
    
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubbles{
    display: flex;
    gap: 30px;
}

.weather-items{

padding: 50px;
display: flex;
flex-direction: column;
align-items: center;
background-color: whitesmoke;
height: 400px;
width: 600px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
gap: 20px;
border-radius: 10px;
color: rgb(29, 27, 27);

}

.adds{
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.adds > div{
    font-size: 20px;
    font-weight: 600;
}

.header{
    font-size: 36px;
    font-weight: 700;
}

.today{
    font-size: 26px;
    font-weight: 700;
}

button{
    border-radius: 10px;
    width: 250px;
    height: 50px;
    background-color: rgba(71, 71, 57, 0.315);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
    color: white;
    border-style: none;
    cursor: pointer;
}

input[type='text']{
    border-radius: 10px;
    width: 200px;
    height: 25px; 
    border-style: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
}

span{
    font-size: 25px;
    font-weight: 500;
}


.temp > div{
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 20px;
}

.condition > div{
    font-size: 20px;
    font-weight: 500;
}


